@import "reset";
$font: 'Open Sans', sans-serif;
.clearfix:after{
    content: ''; 
    clear: both;
    display: table;
}

.mfp-container {
    position: fixed;
}
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

.content {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumbs {
    padding: 50px 0 30px;
    li {
        display: inline-block;
        font-size: 14px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        a {
            font-size: 14px;
            color: #3eb5f1;
            font-family: $font;
            font-weight: 400;
            text-decoration: underline;
        }
        span {
            font-size: 14px;
            color: #444444;
            font-family: $font;
            font-weight: 400;
        }
    }
}

#top {
    background-color: #3d3d3d;
    padding: 16px 0 18px;
    text-align: center;
    p {
        color: #e5e5e5;
        font-size: 16px;
        font-family: $font;
        font-weight: 700;
    }
}
header {
    background: url('../images/top_bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 35px 0px;
    .head {
        .logo {
            float: left;
            width: 200px;
            a {
                img {
                    max-width: 100%;
                }
            }
        }
        h2 {
            float: left;
            width: calc(100% - 400px);
            text-align: center;
            font-size: 20px;
            color: #08182b;
            font-family: $font;
            font-weight: 400;
            line-height: 24px;
            padding: 35px 10px 0px 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .head_info {
            float: left;
            width: 200px;
            padding-top: 20px;
            .tel_btn {
                display: inline-block;
                font-size: 20px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                padding-left: 25px;
                background-image: url('../images/phone_icon.png');
                background-repeat: no-repeat;
                background-position: left center;
                margin-bottom: 12px;
            }
            .orden_btn {
                display: block;
                width: 100%;
                height: 45px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-color: #3eb5f1;
                text-align: center;
                line-height: 45px;
                font-size: 16px;
                color: #f4f4f4;
                font-family: $font;
                font-weight: 700;
            }
        }
    }
    &.main_head {
        padding: 35px 0 75px;
    }
}
#main {
    background: url('../images/main_bg.png') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 160px 0 20px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    h1 {
        text-align: center;
        font-size: 48px;
        color: #08182b;
        font-family: $font;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 40px;
        strong {
            font-family: $font;
            font-weight: 700;
        }
        span {
            font-size: 60px;
            font-family: $font;
            font-weight: 700;
            display: inline-block;
            background-color: #fff;
            padding: 20px 38px;
            margin: 12px 0px;
        }
    }
    .order_drive_btn {
        display: block;
        width: 280px;
        height: 65px;
        background-color: #fece46;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 20px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        line-height: 62px;
        margin: 0 auto 115px;
    }
    .main_serv {
        text-align: center;
        padding-bottom: 45px;
        margin-bottom: 30px;
        li {
            display: inline-block;
            background-color: #fff;
            padding: 40px 15px 20px;
            text-align: center;
            margin: 0 40px;
            width: 180px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            img {
                display: block;
                margin: 0 auto 20px;
                height: 65px;
            }
            span {
                font-size: 20px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                line-height: 24px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 90px solid transparent;
                border-right: 90px solid transparent;
                border-top: 45px solid #fff;
                bottom: -45px;
                left: 0;
            }
        }
    }
    .next_block_btn {
        text-align: center;
        a {
            display: inline-block;
        }
    }
}
#when_to_change {
    background: url('../images/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: -40px;
    padding: 100px 0 245px;
    h2 {
        font-size: 48px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        line-height: 54px;
        padding-bottom: 60px;
    }
    .options {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        -khtml-display: flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 80px;
        .option1,
        .option2 {
            max-width: 480px;
            padding: 100px 80px;
            background-color: #fff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            position: relative;
            h4 {
                font-size: 60px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                margin-bottom: 15px;
                span {
                    font-size: 250px;
                    color: #4ab9ef;
                    font-family: $font;
                    font-weight: 700;
                }
            }
            p {
                font-size: 18px;
                color: #444;
                font-family: $font;
                font-weight: 400;
                line-height: 22px;
            }
            &:before {
                content: '';
                position: absolute;
                width: 90px;
                height: 1px;
                background-color: #67c5f4;
            }
        }
        .option1 {
            &:before {
                top: -45px;
                right: 60px;
                transform: rotate(-45deg);
            }
        }
        .option2 {
            &:before {
                top: -45px;
                left: 60px;
                transform: rotate(45deg);
            }
        }
    }
    h6 {
        font-size: 24px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding-bottom: 50px;
        span {
            font-family: $font;
            font-weight: 700;
        }
    }
    .order_drive_btn {
        display: block;
        width: 280px;
        height: 65px;
        background-color: #fece46;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 20px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        line-height: 62px;
        margin: 0 auto;
    }
}
#storage_device {
    position: relative;
    .storage_device {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
        margin-top: -175px;
        .storage_device_top {
            padding: 80px 100px 100px;
            h2 {
                font-size: 48px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                line-height: 54px;
                text-align: center;
                padding-bottom: 80px;
            }
            .storage_device_middle {
                .left_side {
                    float: left;
                    width: 50%;
                    img {
                        max-width: 100%;
                    }
                }
                .right_side {
                    float: left;
                    width: 50%;
                    padding-left: 100px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    .price {
                        margin-bottom: 70px;
                        font-size: 60px;
                        color: #fff;
                        font-family: $font;
                        font-weight: 700;
                        background-color: #3eb5f1;
                        padding-left: 30px;
                        line-height: 96px;
                        span {
                            display: inline-block;
                            float: right;
                            width: 110px;
                            font-size: 72px;
                            font-family: $font;
                            font-weight: 700;
                            background-color: #fece46;
                            text-align: center;
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                height: 15px;
                                width: 100%;
                                background-color: #fece46;
                                bottom: -15px;
                                left: 0;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-left: 55px solid transparent;
                                border-right: 55px solid transparent;
                                border-top: 25px solid #fece46;
                                left: 0;
                                bottom: -40px;
                            }
                        }
                    }
                    .list {
                        li {
                            position: relative;
                            padding:  12px 0 12px 155px;
                            font-size: 18px;
                            color: #444444;
                            font-family: $font;
                            font-weight: 700;
                            line-height: 22px;
                            margin-bottom: 45px;
                            img {
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                    a {
                        display: block;
                        height: 65px;
                        width: 280px;
                        background-color: #fece46;
                        font-size: 20px;
                        color: #444444;
                        font-family: $font;
                        font-weight: 700;
                        line-height: 62px;
                        text-align: center;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        border-radius: 7px;
                    }
                }
            }
        }
        .storage_device_bottom {
            background-color: #f4f4f4;
            padding: 40px 100px;
            h4 {
                font-size: 24px;
                color: #444444;
                font-family: $font;
                font-weight: 400;
                line-height: 30px;
                background-image: url('../images/warning.png');
                background-repeat: no-repeat;
                background-position: left center;
                padding: 15px 0px 15px 175px;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        height: calc(100% - 100px);
        width: 100%;
        background-color: #3eb5f1;
        z-index: -1;
    }
}
#dop_services {
    padding: 50px 0 100px;
    h2 {
        font-size: 48px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        line-height: 54px;
        text-align: center;
        padding-bottom: 60px;
    }
    .dop_services {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        -khtml-display: flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        .serv_item {
            width: 560px;
            padding: 55px 30px;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            h4 {
                font-size: 30px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                line-height: 36px;
                margin-bottom: 40px;
                padding-left: 130px;
                position: relative;
                img {
                    position: absolute;
                    left: 20px;
                    bottom: 0;
                }
            }
            ul {
                height: 117px;
                margin-bottom: 60px;
                -webkit-display: flex;
                -moz-display: flex;
                -ms-display: flex;
                -o-display: flex;
                -khtml-display: flex;
                display: flex;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                -o-flex-direction: column;
                -khtml-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                -o-justify-content: center;
                -khtml-justify-content: center;
                justify-content: center;
                li {
                    padding: 10px 25px;
                    border-bottom: 1px solid #3eb5f1;
                    font-size: 18px;
                    color: #444;
                    font-family: $font;
                    font-weight: 400;
                    span {
                        display: inline-block;
                        float: right;
                        font-size: 18px;
                        color: #444;
                        font-family: $font;
                        font-weight: 700;
                    }
                }
            }
            a {
                display: block;
                height: 65px;
                width: 280px;
                margin: 0 auto;
                background-color: #fece46;
                font-size: 20px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                line-height: 62px;
                text-align: center;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
            }
        }
    }
}
#our_clients {
    background: url('../images/blue_bg.png') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 100px 0 200px;
    h2 {
        font-size: 48px;
        color: #fff;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        padding-bottom: 70px;
    }
    .our_clients_list {
        li {
            float: left;
            width: calc(25% - 13.5px);
            margin-right: 18px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            background-color: #fff;
            height: 280px;
            margin-bottom: 30px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                max-width: 95%;
                max-height: 95%;
                -ms-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all .3s ease;
            }
            &:hover {
                img {
                    -ms-filter: grayscale(0);
                    filter: grayscale(0);
                }
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}
#about {
    padding: 80px 0 100px;
    h2 {
        font-size: 48px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        line-height: 52px;
        text-align: center;
        padding-bottom: 35px;
    }
    p {
        font-size: 18px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        line-height: 22px;
        padding-bottom: 20px;
        text-align: center;
    }
    .about_list {
        padding-top: 30px;
        li {
            float: left;
            width: 25%;
            padding: 0 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            img {
                display: block;
                margin: 0 auto 20px;
                height: 65px;
            }
            span {
                font-size: 16px;
                color: #444444;
                font-family: $font;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}
#our_competencies {
    background-color: #f4f4f4;
    padding: 75px 0 135px;
    h2 {
        font-size: 48px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        padding-bottom: 80px;
    }
    .our_competencies_list {
        text-align: center;
        li {
            display: inline-block;
            margin: 0 5px 30px;
            a {
                display: block;
                max-width: 180px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
}
#new_in_legislation {
    padding: 115px 0 70px;
    h2 {
        font-size: 48px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        padding-bottom: 80px;
    }
    .new_in_legislation {
        margin-bottom: 70px;
        .legislation_item {
            float: left;
            margin-right: 24px;
            width: calc(33.3% - 16px);
            .date {
                font-size: 18px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                padding-left: 60px;
                line-height: 44px;
                margin-bottom: 15px;
                background-image: url('../images/calendar_icon.png');
                background-repeat: no-repeat;
                background-position: left center;
            }
            img {
                width: 100%;
            }
            h4 {
                font-size: 24px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                line-height: 28px;
                padding: 15px 0 20px;
            }
            a {
                display: block;
                width: 280px;
                height: 65px;
                line-height: 62px;
                text-align: center;
                border: 1px solid #3eb5f1;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
                font-size: 18px;
                color: #3eb5f1;
                font-family: $font;
                font-weight: 400;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .all_news_btn {
        font-size: 18px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        text-decoration: underline;
    }
}
#subscribe {
    padding: 45px 0;
    background-color: #f4f4f4;
    .subscribe {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        -khtml-display: flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        p {
            font-size: 40px;
            color: #444444;
            font-family: $font;
            font-weight: 700;
            line-height: 30px;
            span {
                font-size: 24px;
                font-family: $font;
                font-weight: 700;
            }
        }
        form {
            input[type="text"] {
                width: 500px;
                height: 55px;
                background-color: #fff;
                border: none;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
                padding: 0 30px;
                font-size: 18px;
                color: #444444;
                font-family: $font;
                font-weight: 400;
                margin-right: 60px;
            }
            ::-webkit-input-placeholder {color:#444444;}
            ::-moz-placeholder {color:#444444;}
            :-moz-placeholder {color:#444444;}
            :-ms-input-placeholder {color:#444444;}
            input[type="submit"] {
                width: 280px;
                height: 65px;
                background-color: #fece46;
                font-size: 20px;
                color: #444;
                font-family: $font;
                font-weight: 700;
                border: none;
                cursor: pointer;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
            }
        }
    }
}
#contacts {
    position: relative;
    .map {
        .contacts {
            position: absolute;
            z-index: 2;
            right: calc((100% - 1170px)/2);
            top: 0;
            width: 400px;
            height: 100%;
            background-color: #fff;
            .images {
                img {
                    width: 100%;
                }
            }
            .contact_btns {
                background-color: #fafafa;
                padding: 10px 25px;
                a {
                    display: inline-block;
                    font-size: 14px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                    margin: 0px 10px 10px;
                    text-decoration: underline;
                    &.active {
                        color: #6cc6f4;
                    }
                }
            }
            .contacts_main {
                padding: 30px;
                .office {
                    display: none;
                    .address {
                        font-size: 18px;
                        color: #444444;
                        font-family: $font;
                        font-weight: 400;
                        line-height: 22px;
                        padding-left: 36px;
                        background-image: url('../images/loc_icon.png');
                        background-repeat: no-repeat;
                        background-position: left top 3px;
                        margin-bottom: 28px;
                        span {
                            font-family: $font;
                            font-weight: 700;
                        }
                    }
                    .work_time {
                        font-size: 18px;
                        color: #444444;
                        font-family: $font;
                        font-weight: 400;
                        line-height: 22px;
                        padding-left: 36px;
                        background-image: url('../images/clock_icon.png');
                        background-repeat: no-repeat;
                        background-position: left top 3px;
                        margin-bottom: 28px;
                        span {
                            font-family: $font;
                            font-weight: 700;
                        }
                    }
                    .tel {
                        display: inline-block;
                        font-size: 18px;
                        color: #444444;
                        font-family: $font;
                        font-weight: 700;
                        line-height: 22px;
                        padding-left: 36px;
                        background-image: url('../images/phone_icon.png');
                        background-repeat: no-repeat;
                        background-position: left top 3px;
                        margin-bottom: 28px;
                    }
                    .mail {
                        display: inline-block;
                        font-size: 18px;
                        color: #3eb5f1;
                        font-family: $font;
                        font-weight: 400;
                        line-height: 22px;
                        padding-left: 36px;
                        background-image: url('../images/email_icon.png');
                        background-repeat: no-repeat;
                        background-position: left top 5px;
                        text-decoration: underline;
                    }
                    &.active {
                        display: block;
                    }
                }
            }
            .orden_btn {
                display: block;
                width: 280px;
                height: 64px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                background-color: #fdcd46;
                font-size: 20px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                text-align: center;
                line-height: 62px;
                margin: 0 auto;
            }
        }
    }
    #map {
        width: 100%;
        height: 640px;
    }
}
footer {
    background-color: #444444;
    padding: 22px 0;
    h6 {
        display: inline-block;
        font-size: 20px;
        color: #fff;
        font-family: $font;
        font-weight: 400;
        text-align: center;
        line-height: 33px;
        float: left;
    }
    p {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        font-family: $font;
        font-weight: 400;
        padding-left: 65px;
        background-image: url('../images/site_logo.png');
        background-repeat: no-repeat;
        background-position: left center;
        line-height: 33px;
        float: right;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

#banner_popup {
    max-width: 920px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    .mfp-close {
        display: none;
    }
    h2 {
        font-size: 48px;
        color: #fff;
        font-family: $font;
        font-weight: 700;
        line-height: 54px;
        text-align: center;
        padding: 25px 0;
        background-color: #3eb5f1;
    }
    .banner_popup {
        background-color: #fff;
        padding: 30px 40px;
        .left {
            float: left;
            width: 450px;
            div {
                background-color: #f4f4f4;
                width: 180px;
                height: 180px;
                text-align: center;
                position: relative;
                img {
                    margin: 45px auto 25px;
                    height: 70px;
                }
                span {
                    display: block;
                    font-size: 16px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                }
                &.li1 {
                    float: left;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 90px solid transparent;
                        border-right: 90px solid transparent;
                        border-top: 45px solid #f4f4f4;
                        bottom: -45px;
                        left: 0;
                    }
                }
                &.li2 {
                    float: right;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 90px solid transparent;
                        border-right: 90px solid transparent;
                        border-top: 45px solid #f4f4f4;
                        bottom: -45px;
                        left: 0;
                    }
                }
                &.li3 {
                    margin: 50px auto 0;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 90px solid transparent;
                        border-right: 90px solid transparent;
                        border-bottom: 45px solid #f4f4f4;
                        top: -45px;
                        left: 0;
                    }
                    img {
                        margin: 20px auto 25px;
                    }
                }
            }
        }
        .right {
            float: left;
            padding-left: 50px;
            width: calc(100% - 500px);
            h3 {
                font-size: 24px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                padding-bottom: 40px;
                line-height: 42px;
                span {
                    font-size: 40px;
                    font-family: $font;
                    font-weight: 700;
                }
            }
            ul {
                margin-bottom: 32px;
                li {
                    font-size: 16px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 12px;
                    text-indent: 12px;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 5px;
                        height: 5px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background-color: #3eb5f1;
                        top: 7px;
                        left: 0;
                    }
                }
            }
            a {
                display: block;
                width: 280px;
                height: 64px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                background-color: #fdcd46;
                text-align: center;
                line-height: 64px;
                font-size: 20px;
                color: #444;
                font-family: $font;
                font-weight: 700;
            }
        }
    }
}
#banner_modal {
    max-width: 920px;
    margin: 0 auto;
    width: 100%;
    background: url('../images/banner_img.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 60px 50px 90px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .mfp-close {
        display: none;
    }
    .banner_modal {
        display: inline-block;
        width: 360px;
        text-align: left;
        h4 {
            font-size: 24px;
            line-height: 28px;
            font-family: $font;
            font-weight: 700;
            color: #fff;
            padding-bottom: 20px;
        }
        input[type="text"] {
            width: 100%;
            height: 55px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #fff;
            padding: 0 30px;
            font-size: 18px;
            color: #444444;
            font-family: $font;
            font-weight: 400;
            margin-bottom: 22px;
            border: none;
        }
        ::-webkit-input-placeholder {color:#444444;}
        ::-moz-placeholder {color:#444444;}
        :-moz-placeholder {color:#444444;}
        :-ms-input-placeholder {color:#444444;}
        input[type="submit"] {
            width: 280px;
            height: 64px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #fdcd46;
            font-size: 20px;
            color: #444444;
            font-family: $font;
            font-weight: 700;
            cursor: pointer;
            border: none;
        }
    }
}
#popup {
    max-width: 550px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    padding: 45px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    .mfp-close {
        color: transparent;
        background-image: url('../images/close.png');
        background-repeat: no-repeat;
        background-position: center center;
        top: -22px;
        right: -15px;
        opacity: 1;
    }
    h3 {
        font-size: 30px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        padding-bottom: 85px;
    }
    form {
        input[type="text"] {
            width: 100%;
            height: 45px;
            text-align: center;
            font-size: 18px;
            color: #444444;
            font-family: $font;
            font-weight: 400;
            border: none;
            border-bottom: 1px solid #3eb5f1;
            margin-bottom: 30px;
        }
        ::-webkit-input-placeholder {color:#444444;}
        ::-moz-placeholder {color:#444444;}
        :-moz-placeholder {color:#444444;}
        :-ms-input-placeholder {color:#444444;}
        input[type="submit"] {
            width: 280px;
            height: 64px;
            -moz-border-radius: 5px / 5px 5px 5px 5px;
            -webkit-border-radius: 5px / 5px 5px 5px 5px;
            border-radius: 5px / 5px 5px 5px 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #fdcd46;
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: #444444;
            font-family: $font;
            font-weight: 700;
            margin: 0 auto 22px;
        }
    }
    .politika_btn {
        display: inline-block;
        font-size: 14px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        text-decoration: underline;
    }
}
#popup_order {
    max-width: 960px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    padding: 30px 70px 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    .mfp-close {
        color: transparent;
        background-image: url('../images/close.png');
        background-repeat: no-repeat;
        background-position: center center;
        top: -22px;
        right: -15px;
        opacity: 1;
    }
    h3 {
        font-size: 30px;
        color: #444444;
        font-family: $font;
        font-weight: 700;
        padding-bottom: 25px;
    }
    .popup_order {
        .left {
            float: left;
            width: calc(100% - 315px);
            margin-right: 15px;
            #tab_navbar {
                margin-bottom: 40px;
                a {
                    display: inline-block;
                    width: 180px;
                    height: 50px;
                    background-color: #e5e5e5;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 48px;
                    text-align: center;
                    &#tab1 {
                        margin-right: 10px;
                    }
                    &.active {
                        background-color: #3eb5f1;
                        color: #fff;
                    }
                }
            }
            .tab_blocks {
                display: none;
                max-width: 380px;
                input[type="text"] {
                    width: 100%;
                    height: 38px;
                    font-size: 18px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                    border: none;
                    border-bottom: 1px solid #3eb5f1;
                    margin-bottom: 15px;
                }
                ::-webkit-input-placeholder {color:#444444;}
                ::-moz-placeholder {color:#444444;}
                :-moz-placeholder {color:#444444;}
                :-ms-input-placeholder {color:#444444;}
                &.active {
                    display: block;
                }
            }
        }
        .right {
            float: left;
            width: 300px;
            &>img {
                max-width: 80%;
                display: block;
                margin: 0 auto 20px;
            }
            .price_block {
                .count {
                    float: left;
                    width: 50px;
                    text-align: center;
                    .count_input {
                        width: 100%;
                        border: none;
                        font-size: 24px;
                        color: #444444;
                        font-family: $font;
                        font-weight: 400;
                        text-align: center;
                        height: 40px;
                        background-color: #fff;
                    }
                }
                .price {
                    float: left;
                    margin-bottom: 45px;
                    font-size: 40px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 700;
                    padding-left: 15px;
                    line-height: 80px;
                    width: calc(100% - 50px);
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    text-align: right;
                    span {
                        display: inline-block;
                        float: right;
                        width: 70px;
                        font-size: 48px;
                        font-family: $font;
                        font-weight: 700;
                        background-color: #fece46;
                        text-align: center;
                        position: relative;
                        margin-left: 10px;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 35px solid transparent;
                            border-right: 35px solid transparent;
                            border-top: 25px solid #fece46;
                            left: 0;
                            bottom: -25px;
                        }
                    }
                }
            }
            input[type="submit"] {
                width: 100%;
                height: 64px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                background-color: #fdcd46;
                font-size: 20px;
                color: #444444;
                font-family: $font;
                font-weight: 700;
                cursor: pointer;
                border: none;
            }
        }
    }
    .politika_btn {
        display: inline-block;
        font-size: 14px;
        color: #444444;
        font-family: $font;
        font-weight: 400;
        text-decoration: underline;
    }
}

#news_item {
    padding-bottom: 85px;
    .news_item {
        h2 {
            font-size: 48px;
            color: #444444;
            font-family: $font;
            font-weight: 700;
            padding-bottom: 60px;
            line-height: 54px;
        }
        img {
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #444444;
            font-family: $font;
            font-weight: 400;
            line-height: 22px;
            padding-bottom: 30px;
        }
        a {
            display: block;
            width: 280px;
            height: 65px;
            background-color: #fece46;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-size: 20px;
            color: #444444;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            text-align: center;
            line-height: 62px;
            margin: 0 auto;
        }
    }
}
#news {
    padding-bottom: 80px;
    .news {
        h2 {
            font-size: 48px;
            color: #444444;
            font-family: $font;
            font-weight: 700;
            padding-bottom: 60px;
        }
        .news_list {
            li {
                margin-bottom: 65px;
                .date {
                    display: block;
                    font-size: 18px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 700;
                    padding-left: 68px;
                    background-image: url('../images/calendar_icon.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                    line-height: 42px;
                    margin-bottom: 20px;
                }
                a {
                    font-size: 24px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 700;
                    text-decoration: underline;
                    transition: all .3s ease;
                    &:hover {
                        color: #3eb5f1;
                    }
                }
            }
        }
        .news_navigation {
            text-align: center;
            padding-top: 35px;
            li {
                display: inline-block;
                margin: 0 8px;
                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-color: #f4f4f4;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    color: #444444;
                    font-family: $font;
                    font-weight: 400;
                }
                &.active {
                    a {
                        background-color: #3eb5f1;
                    }
                }
            }
        }
    }
}

@import "media";